.btn {
  display: block;
  padding: 1rem 10rem;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  outline: none;
  margin: 0 auto;

  &--reset {
    border: 1px solid $color-primary;
    margin: 0 auto;
    visibility: hidden;
  }
}
