// COLORS

$color-black: #000;
$color-dark: #222;
$color-white: #fff;

$color-light-gray: #f4f4f4;
$color-medium-gray: #ccc;
$color-dark-gray: #333;

$color-light-bluegray: #f7fbfc;

$color-primary: #2980b9;
$color-primary-dark: #18567f;
$color-secondary: #6dd5fa;

$color-tertiary: #00ffcc;
$color-tertiary-dark: #06b794;
