section {
  margin-bottom: 1rem;
}

.wrapper {
  position: relative;
  max-height: 95%;
  max-width: 95%;
  height: 95vh;
  width: 95vw;
  overflow: hidden;
  margin: 2rem auto;
  padding: 0.5rem;
  background-image: linear-gradient(
    to bottom,
    $color-primary,
    $color-secondary
  );

  &__border-container {
    background-color: $color-light-bluegray;
    min-height: 100%;
    min-width: 100%;
  }
}

.computer {
  margin-bottom: 2rem;
}

.section-computer-side {
  border-bottom: 2px solid $color-primary;
  height: 50%;

  &__computer {
    background-image: linear-gradient(
      to bottom left,
      $color-primary,
      $color-secondary
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  & .hand-container {
    &__hand {
      transform: rotateZ(-45deg);
    }
  }
}

.section-user-side {
  position: relative;

  margin: 3rem 0 0 0;

  &__user {
    background-image: linear-gradient(
      to bottom left,
      $color-primary,
      $color-secondary
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  & .hand-container {
    margin-top: -2rem;
    margin-bottom: 2rem;

    &__hand {
      transition: transform 0.2s ease, opacity 0.2s ease;
      cursor: pointer;

      &--paper {
        transform: rotateY(180deg) rotateZ(-45deg);
        margin-right: 4rem;

        &:hover {
          transform: rotateY(180deg) rotateZ(-45deg) translate(0.5rem, -0.5rem);
          opacity: 0.6;
        }
        &:active {
          transform: rotateY(180deg) rotateZ(-45deg) translate(0.7rem, -0.7rem);
          opacity: 0.9;
        }
      }

      &--rock {
        transform: rotateY(180deg) rotateZ(45deg);
        margin-right: 4rem;
        &:hover {
          transform: rotateY(180deg) rotateZ(45deg) translate(-0.5rem, -0.5rem);
          opacity: 0.6;
        }
        &:active {
          transform: rotateY(180deg) rotateZ(45deg) translate(-0.7rem, -0.7rem);
          opacity: 0.9;
        }
      }

      &--scissors {
        transform: rotateY(180deg) rotateZ(-70deg);

        &:hover {
          transform: rotateY(180deg) rotateZ(-75deg) translateX(1rem);
          opacity: 0.6;
        }
        &:active {
          transform: rotateY(180deg) rotateZ(-75deg) translateX(1.5rem);
          opacity: 0.9;
        }
      }
    }
  }
}

.scoreboard {
  height: 20%;
  width: 40%;
  border: 2px solid $color-primary;
  border-bottom: none;
  text-align: left;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-48%);
  padding-bottom: 5rem;

  &__scores {
    display: flex;
    text-align: center;

    &--user-score {
      flex: 1;
      border-right: 2px solid $color-primary;
    }
    &--computer-score {
      flex: 1;
      padding-left: 1rem;
    }
  }
}

@media (max-width: 970px) {
  .hand-container,
  .section-user-side {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .wrapper__border-container {
    overflow: hidden;
  }

  .heading-primary {
    font-size: 2.5rem;
    word-spacing: 1rem;
    letter-spacing: 0.2rem;
    &:hover {
      transform: translateX(-0.2rem);
      text-shadow: 0.3rem 0 0rem rgba($color-tertiary, 0.9);
    }
  }

  .heading-primary {
    font-size: 2rem;
  }

  .btn--reset {
    padding: 1rem 2rem;
    top: 38% !important;
  }

  .heading-tertiary {
    font-size: 1.4rem;
  }

  .scoreboard {
    width: 100%;
    border: none;
    text-align: center;
  }

  .hand-container__hand {
    height: 5rem;
    width: 5rem;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 0.6rem;
  }

  .heading-primary {
    font-size: 1.6rem;
  }

  .btn--reset {
    padding: 1rem 2rem;
    top: 40% !important;
  }

  .scoreboard {
    transform: translateX(-53%);
  }
}
